{% include "head.html" %}

<script src="/static/js/jquery.validate.js"></script>

<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="titles"> 添加 </span>
        </div>
        <div class="panel-body">
            <form action="/jiaoshi/insert/" method="post" name="form1" id="form1">
                <!-- form 标签开始 -->

                <div class="form-group">
                    <div class="row">
                        <label style="text-align: right" class="col-sm-2 hiddex-xs">工号<span style="color: red">*</span></label>
                        <div class="col-sm-10">
                            <input
                                type="text"
                                class="form-control"
                                placeholder="输入工号"
                                style="width: 150px"
                                data-rule-required="true"
                                data-msg-required="请填写工号"
                                remote="/checkon/?checktype=insert&table=jiaoshi&col=gonghao"
                                data-msg-remote="内容重复了"
                                id="gonghao"
                                name="gonghao"
                                value=""
                            />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label style="text-align: right" class="col-sm-2 hiddex-xs">密码<span style="color: red">*</span></label>
                        <div class="col-sm-10">
                            <input
                                type="password"
                                class="form-control"
                                placeholder="输入密码"
                                style="width: 150px"
                                data-rule-required="true"
                                data-msg-required="请填写密码"
                                id="mima"
                                name="mima"
                                value=""
                            />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label style="text-align: right" class="col-sm-2 hiddex-xs">姓名<span style="color: red">*</span></label>
                        <div class="col-sm-10">
                            <input
                                type="text"
                                class="form-control"
                                placeholder="输入姓名"
                                style="width: 150px"
                                data-rule-required="true"
                                data-msg-required="请填写姓名"
                                id="xingming"
                                name="xingming"
                                value=""
                            />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label style="text-align: right" class="col-sm-2 hiddex-xs">性别<span style="color: red">*</span></label>
                        <div class="col-sm-10">
                            <select
                                class="form-control class_xingbie3"
                                data-value=""
                                data-rule-required="true"
                                data-msg-required="请填写性别"
                                id="xingbie"
                                name="xingbie"
                                style="width: 250px"
                            >
                                <option value="男">男</option>
                                <option value="女">女</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label style="text-align: right" class="col-sm-2 hiddex-xs">联系方式</label>
                        <div class="col-sm-10">
                            <input
                                type="text"
                                class="form-control"
                                placeholder="输入联系方式"
                                style="width: 150px"
                                phone="true"
                                data-msg-phone="请输入正确手机号码"
                                id="lianxifangshi"
                                name="lianxifangshi"
                                value=""
                            />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label style="text-align: right" class="col-sm-2 hiddex-xs">电子邮箱</label>
                        <div class="col-sm-10">
                            <input
                                type="text"
                                class="form-control"
                                placeholder="输入电子邮箱"
                                style="width: 150px"
                                email="true"
                                data-msg-email="请输入有效邮件地址"
                                id="dianziyouxiang"
                                name="dianziyouxiang"
                                value=""
                            />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label style="text-align: right" class="col-sm-2 hiddex-xs">所带班级<span style="color: red">*</span></label>
                        <div class="col-sm-10">
                            <select
                                class="form-control class_suodaibanji4"
                                data-value=""
                                data-rule-required="true"
                                data-msg-required="请填写所带班级"
                                id="suodaibanji"
                                name="suodaibanji"
                                style="width: 250px"
                            >
                                {% set select = DB.select("SELECT * FROM banji ORDER BY id desc") %} {% for m in select %}
                                <option value="{{ m.id }}">{{ m.banjimingcheng }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label style="text-align: right" class="col-sm-2 hiddex-xs">简介</label>
                        <div class="col-sm-10">
                            <textarea style="width: 80%; height: 120px" class="form-control" placeholder="输入简介" id="jianjie" name="jianjie"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label style="text-align: right" class="col-sm-2 hiddex-xs"> </label>
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary" name="Submit">提交</button>
                            <button type="reset" class="btn btn-default" name="Submit2">重置</button>
                        </div>
                    </div>
                </div>

                <!--form标签结束-->
            </form>

            <script>
                $(function () {
                    $("#form1").validate();
                });
            </script>
        </div>
    </div>
</div>

{% include "foot.html" %}
