{% include "head.html" %}

<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="titles"> 详情 </span>
        </div>
        <div class="panel-body">
            <div class="pa10">
                <div class="pa10 bg-white">
                    <table class="new-detail">
                        <tbody>
                            <tr>
                                <td class="detail-title">工号</td>
                                <td class="detail-value">{{ map.gonghao }}</td>
                                <td class="detail-title">密码</td>
                                <td class="detail-value">{{ map.mima }}</td>
                                <td class="detail-title">姓名</td>
                                <td class="detail-value">{{ map.xingming }}</td>
                            </tr>
                            <tr>
                                <td class="detail-title">性别</td>
                                <td class="detail-value">{{ map.xingbie }}</td>
                                <td class="detail-title">联系方式</td>
                                <td class="detail-value">{{ map.lianxifangshi }}</td>
                                <td class="detail-title">电子邮箱</td>
                                <td class="detail-value">{{ map.dianziyouxiang }}</td>
                            </tr>
                            <tr>
                                <td class="detail-title">所带班级</td>
                                <td class="detail-value">
                                    {% set mapbanji3 = DB.find("SELECT banjimingcheng,id FROM banji where id='%s'"%(map.suodaibanji,)) %}{{ mapbanji3.banjimingcheng }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="mt10 pa10 bg-white">
                    <div class="new-detail-line">
                        <div class="detail-title">简介</div>
                        <td class="detail-value">
                            <pre style="padding: 5px; background: none; border: none; margin: 0">{{ map.jianjie }}</pre>
                        </td>
                    </div>
                </div>
                <div class="mt10 not-print">
                    <button type="button" class="btn btn-default" onclick="history.go(-1);">返回</button>
                    <button type="button" class="btn btn-default" onclick="window.print()">打印本页</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "foot.html" %}
