{% include "head.html" %}


<div>


    <div class="panel panel-default">
        <div class="panel-heading">
        <span class="titles">
            学生签到查询
        </span>
        </div>
        <div class="panel-body">


            <div class="form-search pa10 bg-warning">
                <form class="form-inline" action="?" size="small" id="formSearch"><!-- form 标签开始 -->


                    签到编号： <input type="text" class="form-control" style="" name="qiandaobianhao"
                                 value="{{ request.GET.get("qiandaobianhao") }}"/>

                    签到名称： <input type="text" class="form-control" style="" name="qiandaomingcheng"
                                 value="{{ request.GET.get("qiandaomingcheng") }}"/>


                    是否迟到： <select class="form-control class_shifouchidao3"
                                  data-value="{{ request.GET.get("shifouchidao") }}" id="shifouchidao"
                                  name="shifouchidao">
                        <option value="">请选择</option>
                        <option value="未迟到">未迟到</option>
                        <option value="迟到">迟到</option>

                    </select>
                    <script>
                        $(".class_shifouchidao3").val($(".class_shifouchidao3").attr("data-value"))</script>


                    <button type="submit" class="btn btn-default">
                        搜索
                    </button>


                    <!--form标签结束--></form>
            </div>


            <script>$("#orderby").val("{{ orderby }}");
            $("#sort").val("{{ sort }}".toLocaleLowerCase());</script>


            <div class="list-table">
                <table width="100%" border="1" class="table table-list table-bordered table-hover">
                    <thead>
                    <tr align="center">
                        <th width="60" data-field="item">序号</th>
                        <th>签到编号</th>
                        <th>签到班级</th>
                        <th>签到名称</th>
                        <th>签到时间</th>
                        <th>截止时间</th>
                        <th>发布人</th>
                        <th>学生签到时间</th>
                        <th>地点</th>
                        <th>备注</th>
                        <th>学生姓名</th>
                        <th>学生学号</th>
                        <th>是否迟到</th>

                        <th width="220" data-field="handler">操作</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for map in lists %}
                        {% set i=loop.index %}
                        <tr id="{{ map.id }}" pid="">
                            <td width="30" align="center">
                                <label>
                                    {{ i }}
                                </label>
                            </td>
                            <td>
                                {{ map.qiandaobianhao }}                        </td>
                            <td>
                                {% set mapbanji6 = DB.find("SELECT banjimingcheng,id FROM banji where id='%s'"%(map.qiandaobanji,)) %}{{ mapbanji6.banjimingcheng }}                        </td>
                            <td>
                                {{ map.qiandaomingcheng }}                        </td>
                            <td>
                                {{ map.qiandaoshijian }}                        </td>
                            <td>
                                {{ map.jiezhishijian }}                        </td>
                            <td>
                                {{ map.faburen }}                        </td>
                            <td>
                                {{ map.xueshengqiandaoshijian }}                        </td>
                            <td>
                                {{ map.didian }}                        </td>
                            <td>
                                <pre style="padding: 5px;background: none;border: none;margin: 0;">{{ map.beizhu }}</pre>
                            </td>
                            <td>
                                {{ map.xueshengxingming }}                        </td>
                            <td>
                                {{ map.xueshengxuehao }}                        </td>
                            <td>
                                {{ map.shifouchidao }}                        </td>

                            <td align="center">
                                <a class="btn btn-info btn-xs" href="/xueshengqiandao/admin/detail/?id={{ map.id }}"
                                   title="详情"> 详情 </a>



                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>


            {% include "page.html" %}


        </div>
    </div>


</div>


{% include "foot.html" %}