<li>
    <a href="javascript:;"><i class="icon-font">&#xe018;</i>签到信息</a>
    <ul class="sub-menu">
        <li><a href="/qiandaoxinxi/admin/list/" target="main">签到信息查询</a></li>
        <li><a href="/xueshengqiandao/admin/xueshengxuehao/" target="main">我的签到记录</a></li>
    </ul>
</li>

<li>
    <a href="javascript:;"><i class="icon-font">&#xe018;</i>个人中心</a>
    <ul class="sub-menu">
        <li><a href="/xuesheng/admin/updtself/" target="main">修改个人资料</a></li>
        <li><a href="/mod/" target="main">修改密码</a></li>
    </ul>
</li>
