<!DOCTYPE html>
<html>
    <head>
        <title>系统提示</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type" />
        <meta content="no-cache,must-revalidate" http-equiv="Cache-Control" />
        <meta content="no-cache" http-equiv="pragma" />
        <meta content="0" http-equiv="expires" />
        <meta content="telephone=no, address=no" name="format-detection" />
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    </head>
    <body>
        <script>
            alert( "{{ msg }}" );
            var href = '{{ href }}';
            if(href.indexOf('javascript:')!==-1){
                var jsCode = href.replace(/javascript:/i,'');
                eval(jsCode);
            }else{
                {% if replace %}
                location.replace(href);

                {% else %}
                location.href = href;
                {% endif %}
            }
        </script>
    </body>
</html>
